# PR 빌드 + 테스트 강제 액션
name: PR Build & Test

on:
  pull_request:
    branches: [ "main", "develop" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Grant execute permission
        run: chmod +x ./Backend/gradlew

      - name: Build & Test
        run: ./Backend/gradlew build
